services:
  app:
    build: .  
    ports:
      - "8000:8000"  
    volumes:
      - .:/app  # Mount current directory as /app inside the container
    environment:
      - DB_HOST=postgres 
      - DB_PORT=${DB_PORT}  
      - DB_USERNAME=${DB_USERNAME}  
      - DB_PASSWORD=${DB_PASSWORD}  
      - DB_NAME=pi_univesp
    depends_on:
      - postgres  # Wait for postgres service to be ready before starting app

  postgres:
    image: postgres:latest 
    environment:
      - POSTGRES_DB=pi_univesp # Set database name (same as app env)
      - POSTGRES_USER=${DB_USERNAME}  # Set Postgres username (same as app env)
      - POSTGRES_PASSWORD=${DB_PASSWORD}  # Set Postgres password (same as app env)
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data  # Persist data volume

networks:
  postgres:
    driver: bridge

volumes:
  postgres_data: {}