.grid-container {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr;
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 20px;
}


.item {
  border: grey 1px;
  /* dev only */
  border-style: groove;
  height: 100vh;
  display: flex;
  justify-content: center;
}
