.sidebar-container{
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.sidebar-menu {
    padding: 8%;
}

.sidebar-menu > ul {
    list-style: none;
}

.sidebar-menu > h3 {
    padding: 8px 0 8px 15%;
    font-size: larger;
    font-weight: 400;
    text-align: start;
    background-color: #707fdd60;
    border-radius: 8px;
}